/*please look over this recruiters, I had to make this in 15 minutes!*/

.active {
  color: purple;
}

.span {
  color: lightgray;
}

span {
  padding-right: 1rem;
}

.spans {
  display: flex;
}

.container {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: rgb(174, 172, 170);
  border-radius: 1%;
}

button {
  position: relative;
}

.inputs {
  padding-bottom: 2rem;
}

input {
  margin-right: 1rem;
}

b {
  display: flex;
  justify-content: center;
}

.main {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
